.App {
  margin: 0;
  padding: 0;
  margin-top: 8%;
}

input {
  border: none;
  background: transparent;
  font-size: 1.4rem;
  font-weight: 500;
  margin-left: calc(5% + 5px);
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 10px;
  margin-bottom: 14px;
  width: calc(90% - 20px);
}

.selected-courses {
  display: flex;
  flex-direction: row;
  overflow: scroll;
  gap: 15px;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.selected-courses::-webkit-scrollbar {
  display: none;
}

.selected-courses .course {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
  padding: 3%;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 10px;
  font-weight: 600;
  background: #ededed;
  gap: 20px;
}

.selected-courses .course h2 {
  font-size: 1.3rem;
  font-weight: 400;
  margin: 0;
  padding: 0;
  margin-bottom: 2px;
  opacity: 0.3;
}

.selected-courses .course:first-of-type {
  margin-left: 5%;
}

.selected-courses .course:last-of-type {
  margin-right: 5%;
}

.multiselect {
  background: #ededed;
  border-radius: 15px;
  height: 40px;
  margin-left: 5%;
  margin-top: 15px;
  padding-top: 5px;
  padding-left: 5px;
  width: calc(90% - 10px);
  /* box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1); */
}

.multiselect .select-box {
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  height: calc(100% - 5px);
  width: calc(79% / var(--number-of-states));
  border-radius: 12px;
  background: white;
  margin-left: calc(var(--multiselect-state) * (100% / (var(--number-of-states)) - 1px));
  transition: all 0.3s ease;
}

.multiselect .icons {
  display: flex;
  align-items: space-between;
  justify-content: space-between;
  height: 100%;
  width: calc(100% - 5px);
  font-size: 1.2rem;
  transform: translateY(-37px);
}

.multiselect .icons .icon {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.searched-courses {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
  margin-left: 5%;
  width: calc(90% - 10px);
}

.searched-courses .course {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  min-height: 50pt;
  padding: 0;
  padding-top: 5pt;
  padding-bottom: 5pt;
  transition: all 0.3s ease-in-out;
}

.searched-courses .course .info {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}

.searched-courses .course h2 {
  margin: 0;
  padding: 0;
  margin-left: 5px;
  font-size: 1rem;
}

.searched-courses .course p {
  margin: 0;
  padding: 0;
  margin-left: 5px;
  margin-top: 3px;
  font-size: 0.8rem;
  color: #777;
}

.searched-courses .add {
  padding: 0 10px;
}

.searched-courses hr {
  width: 100%;
  margin: 0;
  padding: 0;
  margin-left: 10px;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
}

.invisible {
  display: none;
}